header,
main,
footer {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
}

footer {
    margin-top: auto;
}

header {
    padding: 28px 48px 56px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header div {
    display: flex;
    gap: 18px;
}

header div a {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
}

.no_underlaine {
    text-decoration: none;
}

footer {
    margin: auto auto 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 92px 48px 24px;
}

footer nav {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

footer nav a {
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
}

footer p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: right;
    white-space: nowrap;
}

.baner {
    margin: 0 auto 92px;
    max-width: 984px;
}

.baner h1 {
    font-family: Inter;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.baner p {
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 64px;
}

.baner img {
    aspect-ratio: 984/615;
    width: 100%;
    margin-bottom: 8px;
}

.baner span {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: block;
}

.info-vis {
    max-width: 984px;
    margin: 0 auto 62px;
}

.info-vis h2 {
    font-family: Inter;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 40px;
}

.info-vis p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    max-width: 690px;
    margin-bottom: 33px;
}

.info-vis ul {
    list-style: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
}

.gallery {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 92px;
}

.gallery img {
    width: 284px;
    height: 213px;
    object-fit: cover;
    object-position: center;
}

.top_place {
    max-width: 984px;
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.top_place .card {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.top_place .card .top {
    display: flex;
    gap: 40px;
    align-items: end;
}

.top_place .card .top h2 {
    font-family: Inter;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0%;
    width: 100%;
    max-width: 460px;
}

.top_place .card .top div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.top_place .card .top div span {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.top_place .card .top div a {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
}

.top_place .card .bottom {
    display: flex;
    gap: 40px;
}

.top_place .card .bottom img {
    width: 460px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.top_place .card .bottom p {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0%;
}

.end_link {
    background-image: url('./../img/17fd58b80f252855d51020659c1e65e8.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 740px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
}


.end_link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: .3;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: .5s;
}

.end_link:hover::before {
    opacity: .6;
}

.end_link h2,
.end_link p {
    position: relative;
    z-index: 1;
    transition: .5s;
    top: 0;
}

.end_link:hover h2 {
    top: -10px;
}

.end_link:hover p {
    top: 10px;
}

.end_link h2 {
    font-family: Inter;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 560px;
}

.end_link p {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 360px;
}